<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container py-3">
        <h1 th:text="${titulo}" class="text-secondary"></h1>
        <form th:action="@{/form}" th:object="${personaje}" method="POST">

            <div class="mb-3 w-50">
                <label for="nombrePersonaje" class="form-label">Nombre del personaje</label>
                <input type="text" class="form-control" placeholder="Nombre" th:field="*{nombre}" id="nombrePersonaje">
            </div>
            <div class="mb-3 w-50">
                <label for="edadPersonaje" class="form-label">Edad del personaje</label>
                <input type="number" class="form-control" placeholder="Edad" th:field="*{edad}" id="edadPersonaje">
            </div>
            <div class="mb-3 w-50">
                <label for="frasePersonaje" class="form-label">Frase caracteristica del personaje</label>
                <input type="text" class="form-control" placeholder="Frase caracteristica" th:field="*{frase}" id="frasePersonaje">
            </div>
            <div class="mb-3 w-50">
                <label for="historiaPersonaje" class="form-label">Historia del personaje</label>
                <textarea class="form-control" placeholder="Historia del personaje" th:field="*{historia}"
                    rows="3" id="historiaPersonaje"></textarea>
            </div>
            <div class="mb-3 w-50">
                <label for="peliculaPersonaje" class="form-label">Pelicula en la que aparece el personaje</label>
                <input type="text" class="form-control" placeholder="Pelicula">
            </div>
            <div>
                <input type="submit" value="Crear Personaje">
            </div>

            <input type="hidden" th:field="*{id}">
        </form>
    </div>

    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
            </ul>
            <p class="text-center text-muted">&copy; 2022 Company, Inc</p>
        </footer>
    </div>
</body>

</html>